# data
data/
Data/
dataset_out/
compliant_dataset/
outputs/
results/

# zip files
*.zip

# PDF documentation (keep only in Drive, not in git)
*.pdf

# python
__pycache__/
*.pyc
.venv/
venv/
.env

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
