# data
data/
Data/
dataset_out/
compliant_dataset/
outputs/
*.zip

# models (too large for git)
checkpoints/*.pth
checkpoints/*.pt
checkpoints/*/*.pth

# python
__pycache__/
*.pyc
.venv/
venv/
.env

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
